* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


header {
    height: 20vh;
    display: block;
    background-image: url(./assets/design1_image2.jpg);
    background-position: center;
}

h1 {
    text-align: justify;
    color: #fff;
    text-shadow: 3px 2px rgb(159, 159, 109);
}

h2 {
    opacity: 0.70;
}

nav {
    gap: 5rem;
    margin-left: 50%;
    transform: translateY(-2rem);

}

nav a {
    color: #fff;
    background-color: rgb(106, 119, 119);
    text-decoration: none;
    padding: 0.5rem;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.358);
    font-weight: bold;
}

a:hover {
    background-color: rgb(219, 211, 64);
}

h2 {
    text-align: center;
    background-color: rgb(106, 119, 119);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 0.2rem;
    width: 100%;
}

.logo {
    height: 7rem;
    width: 7rem;
    background-image: url(../assets/LogoHockey.png);
    background-position: center;
    background-size: cover;
    border-radius: 0.5rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    margin-inline: 1rem;
}

.index {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-color: rgb(159, 159, 109);

}

img {
    height: 10rem;
    width: 15rem;
    background-position: center;
    background-size: cover;
    border: 0.1875rem solid yellow;
    border-radius: 0.1875rem;
}

.calendar {
    min-height: 6.25rem;
    width: 50rem;
    margin-left: 2rem;
    padding: 1.125rem;
    border: 0.1875rem solid rgb(219, 211, 64);
    border-radius: 5px 5px;
    margin-top: 2rem;
}

.about {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-color: rgb(159, 159, 109);
}

.contact {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-color: rgb(159, 159, 109);
}

.rules {
    opacity: 0.70;
    width: 100%;
    height: 100vh;
    text-align: center;
    margin: 3rem;
}

.rules dl {
    text-align: left;
}

.container1 {
    width: 80%;
    height: 80vh;
    justify-content: center;
}



/******** Game ***********/
.tabla {
    display: flex;
    justify-content: center;
    align-content: center;
}

table {
    width: 50%;
}

.column1 {
    background-color: rgb(219, 211, 64);
    width: 20%;
}

.column2 {
    background-color: rgb(219, 211, 64);
    width: 25%;
}

.column3 {
    background-color: rgb(219, 211, 64);
    width: 25%;
}

.column4 {
    background-color: rgb(219, 211, 64);
    width: 25%;
}

.column5 {
    background-color: rgb(219, 211, 64);
    width: 25%;
}

td {
    background-color: rgb(159, 159, 109);
    text-align: center;
    padding: 10px;
}

footer {
    transform: translate(0px);
}

/******** Form ***********/
.formulario {
    padding: 2rem;
}

.fondoform {
    background-color: rgb(159, 159, 109);
}

fieldset {
    border-color: yellow;
}

.formm {
    margin-right: 20rem;
    margin-left: 20rem;

}

.form2 {
    margin-right: 20rem;
    margin-left: 20rem;
}

.form3 {
    margin-right: 20rem;
    margin-left: 20rem;
}

.form4 {
    margin-right: 20rem;
    margin-left: 20rem;
}

.boton {
    margin-right: 20rem;
    margin-left: 33rem;
    bottom: 40px;
    padding: 1pc;
    background-color: rgb(219, 211, 64);
}